@page
@model CreateModel
@{
    ViewData["Title"] = "Novo Chamado";
}

<h2>Novo Chamado</h2>

<form method="post" class="row g-3">
    <div class="col-12">
        <label class="form-label">Descrição</label>
        <input asp-for="Chamado.DescChamado" class="form-control" maxlength="50" />
    </div>
    <div class="col-6">
        <label class="form-label">Status</label>
        <select asp-for="Chamado.StatusChamado" class="form-select">
            <option value="false">Aberto</option>
            <option value="true">Fechado</option>
        </select>
    </div>
    <div class="col-12">
        <button class="btn btn-primary">Salvar</button>
        <a asp-page="/Index" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
