@page
@model IndexModel
@{
    ViewData["Title"] = "Lista de Chamados";
}

<div class="d-flex justify-content-between mb-3">
    <h2>Lista de Chamados</h2>    
</div>

<table class="table table-hover table-striped">
    <thead class="table-primary">
        <tr>
            <th>ID</th>
            <th>Descrição</th>
            <th>Status</th>
            <th>Data Criação</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach(var c in Model.Chamados)
    {
        <tr>
            <td>@c.Id</td>
            <td>@c.Descricao</td>
            <td>@(c.Status ? "Fechado" : "Aberto")</td>
            <td>@(c.DataCriacao.ToString("g") ?? "-")</td>
        </tr>
    }
    </tbody>
</table>
